In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('Data.csv')

In [62]:
df.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5      NaN  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [64]:
df.isnull().sum()

Country      1
Age          1
Salary       1
Purchased    0
dtype: int64

In [65]:
mode = df['Country'].mode()[0]
df.fillna({'Country': mode}, inplace = True)

In [66]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer.fit(df[['Age','Salary']])
df[['Age','Salary']] = imputer.transform(df[['Age','Salary']])

In [67]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [70]:
X = df[['Country','Age','Salary']].values
y = df['Purchased'].values

In [71]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [77]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [0])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[0.0 1.0 0.0 0.0 44.0 72000.0]
 [1.0 0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 0.0 1.0 38.0 61000.0]
 [1.0 0.0 1.0 0.0 40.0 63777.77777777778]
 [0.0 1.0 0.0 0.0 35.0 58000.0]
 [1.0 0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 0.0 48.0 79000.0]
 [1.0 0.0 1.0 0.0 50.0 83000.0]
 [0.0 1.0 0.0 0.0 37.0 67000.0]]

In [79]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [85]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [86]:
print(X_train)

[[0.0 1.0 0.0 0.0 35.0 58000.0]
 [0.0 1.0 0.0 0.0 44.0 72000.0]
 [0.0 1.0 0.0 0.0 48.0 79000.0]
 [1.0 0.0 1.0 0.0 30.0 54000.0]
 [0.0 1.0 0.0 0.0 37.0 67000.0]
 [1.0 0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 1.0 38.0 61000.0]
 [1.0 0.0 0.0 1.0 38.77777777777778 52000.0]]

In [87]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
coulumns_to_scale = [3,4]
X_train[:, columns_to_scale] = sc.fit_transform(X_train[:,columns_to_scale])
X_test[:, columns_to_scale] = sc.transform(X_test[:,columns_to_scale])

In [88]:
print(X_train)

[[0.0 1.0 0.0 -0.5773502691896258 -0.7529426005471072 58000.0]
 [0.0 1.0 0.0 -0.5773502691896258 1.008453807952985 72000.0]
 [0.0 1.0 0.0 -0.5773502691896258 1.7912966561752484 79000.0]
 [1.0 0.0 1.0 -0.5773502691896258 -1.7314961608249362 54000.0]
 [0.0 1.0 0.0 -0.5773502691896258 -0.3615211764359756 67000.0]
 [1.0 0.0 1.0 -0.5773502691896258 0.22561095973072184 63777.77777777778]
 [1.0 0.0 0.0 1.7320508075688774 -0.16581046438040975 61000.0]
 [1.0 0.0 0.0 1.7320508075688774 -0.013591021670525094 52000.0]]